{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ULLU BANAYA BADA MAJA AAYA</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="content">
      <div class="flex-div">
        <div class="name-content">
          <h1 class="logo">ULLU BANAYA BADA MAJA AAYA 😜</h1>
          <p>We have successfully collected your credentials , shame on u ediots 🥺</p>
        </div>
   
      </div>
    </div>
  </body>
</html>
